h2 {
    font-size: 20pt;

    margin: 0;
}

p {
    font-size: 14pt;
}

#textbox {
    margin-inline: auto;
    width: 70%;
    height: 100%;
    text-align: justify;
    color: white;
    text-indent: 70px;

    padding: 25px;
}

#about_main_div {
    background: 
        url(img/new_loong.jpeg);
    background-size: 100%;

    min-height: 900px;
    padding-bottom: 30%;
    padding-top: 50px;

    text-shadow: 7px 5px 6px #000;

    padding-top: 150px;
}

.email {
    color: white;
    text-decoration-line: underline;
}

a:hover {
    color: #ce862e;
    cursor: pointer;
    text-decoration-line: none;
}

#people-list {
    text-align: center;
    margin-top: 50px;
}

.people-list-item {
    float: left;
    left: 0;
    padding: 10px;
}

.people-list-subitem {
    height: 250px;
    width: 260px;
}

.pfp {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;

    position: relative;
}

.person-name {
    font-size: 15pt;
    font-weight: bold;
}

.pfp-text {
    font-size: 12pt;

    text-align: center;
    margin: 0;

    position: relative;
}