* {
    border: dotted;
    border-width: 0px;
    border-color: black;
}

a {
    text-decoration:none
}

body {
    background-color: #D8C7AD;
    z-index: 0;
    min-height: 100%;
}

html {
    height: 100%;
}