@font-face {
    font-family: "Tabula Burana";
    src: url('fonts/TabulaPeutingeriana.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HSE Black";
    src: url('fonts/HSE_Slab/HSESlab-Black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HSE Regular";
    src: url('fonts/HSE_Slab/HSESlab-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

#homediv {
    text-align: center;
    height: 100%;

    background: url(img/new.jpeg) no-repeat center 33%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#homeimg {
    width: 100%;
}

#img_text {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%);
    min-width: 90%;

    color: white;
    font-family: 'Tabula Burana';
    text-shadow: 7px 5px 6px #000;
    font-size: 50pt;
}

#img_hse_text {
    position: absolute;
    left: 50%;
    top: 73%;
    transform: translate(-50%);
    min-width: 90%;

    color: white;
    text-shadow: 7px 5px 6px #000;
    font-size: 50pt;
}

.hse-black {
    font-family: 'HSE Black';
}

.hse-regular {
    font-family: 'HSE Regular';
}

@media screen and (max-width: 840px) {
    #img_text {
        font-size: 7vw;
    }
    #img_hse_text {
        font-size: 7vw;
    }
}
