#nav_open_btn {
    float: right;
    opacity: 1;
    transition-duration: 1s;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: white;
}

.rotate_m45 {
    transform: translate(0, 11px) rotate(+45deg);
}
.rotate_p45 {
    transform: translate(0, 11px) rotate(-45deg);
}

#rightSidenav {
    height: 100%;
    right: 0;
    width: 0;
    max-width: 100%!important;
    z-index: 1;
    word-wrap: normal;
    position: fixed!important;

    transition-duration: 0.3s;

    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 5%);
}

#rightSidenav a {
    width: 100%;
    display: block;

    font-size: large;
    color: rgb(240, 158, 91);
}

.side_nav_item {
    padding: 40px;
}

#nav_close_btn {
    width: 35px;
    height: 27px;
    display: block;
    float: right;
    visibility: hidden;
}