@font-face {
    font-family: "SchoolBook";
    src: url('fonts/SchoolBookC.otf');
    font-weight: normal;
    font-style: normal;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    font-family: 'SchoolBook'!important;
}
th, td {
    width: 50%;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    font-size: 17px;
    padding-left: 0;
}
th {
    font-size: 16pt;
    font-weight: bolder;
}
td {
    font-size: 16pt;
}
.clear_marpad {
    padding: 0;
    margin: 0;
}
.verse_list {
    margin-left: 25px;
}

.comentary td {
    text-align: justify;
}

a {
    color: rgb(255, 255, 255);
}

.shit {
    color: red;
    font-size: 20pt;
    background-color: blue;
}

.backlink {
    text-decoration: none;
    font-weight: bold;
}

.bibliography {
    padding-left: 70px;
    text-indent: -70px;
}

a:hover {
    color: #ce862e;
    cursor: pointer;
    text-decoration-line: none;
}

p {
    margin: 0;
    font-size: 16pt;
    line-height: 1.5;
    font-family: 'SchoolBook';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'SchoolBook';
}

.prose td {
    text-align: justify;
}

#textbox {
    margin-inline: auto;
    width: 70%;
    height: 100%;
    text-align: justify;
    color: white;
    text-indent: 70px;

    padding: 25px;
}

#main_div {
    background: 
        url(img/text_duo_blurred.jpg);
    background-size: 100%;

    min-height: 900px;
    padding-bottom: 30%;
    padding-top: 50px;

    text-shadow: 7px 5px 6px #000;

    padding-top: 150px;
}

.ul_clean{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.li_1::before {
    content: "1. ";
}
.li_2a::before {
    content: "2a. ";
    margin-left: -10px;
}
.li_2b::before {
    content: "2b. ";
    margin-left: -10px;
}
.li_3a::before {
    content: "3a. ";
    margin-left: -10px;
}
.li_3b::before {
    content: "3b. ";
    margin-left: -10px;
}
.li_4a::before {
    content: "4a. ";
    margin-left: -10px;
}
.li_4b::before {
    content: "4b. ";
    margin-left: -10px;
}
.CB188_shift {
    margin: 0;
    padding: 0;
    margin-left: 78px;
}

.no-td-padding td {
    padding: 0;
}

.line-any::before {
    content: "    ";
    margin-left: 25px;
}
.line-5::before {
    content: "5. ";
}
.line-10::before {
    content: "10. ";
    margin-left: -15px;
}
.line-15::before {
    content: "15. ";
    margin-left: -15px;
}
.line-20::before {
    content: "20. ";
    margin-left: -15px;
}