table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}
th, td {
    width: 50%;
    padding: 10px;
    text-align: left;
    font-size: 17px;
}
th {
    background-color: #977f5a;
    font-weight: bold;
}
tr:hover {
    background-color: #bda582;
}
